<launch>
    <!-- stage -->
    <!-- <remap from="/robot_1/cmd_vel" to="/p3dx/cmd_vel"/>
    <remap from="/robot_3/cmd_vel" to="/p3at/cmd_vel"/> -->
    <node
        pkg="stage_ros"
        type="stageros"
        name="stage_node"
        args="/home/sidney/Documents/Courses/Master/code/topology_control/stage/world/top5.world"
    />
</launch>

